---
layout: default
css: |
  @import url('/assets/lib/leaflet/leaflet.css');
  #map {
    margin: 0 auto;
    height: 600px;
    width: 600px;
  }
---
<main class="container flex flex-col flex-wrap items-center">
  <header class="flex flex-col justify-center w-full overflow-y-hidden xl:w-2/5 lg:items-start">
    <h1 class="my-4 text-3xl font-bold leading-tight text-center text-blue-500 md:text-5xl md:text-left">{{ metadata.title }}</h1>
    <p class="mb-6 text-base leading-normal text-center md:text-2xl md:text-left">{{ metadata.description }}</p>
  </header>
</main>

<div id="map"></div>

<script src="{{ '/assets/lib/leaflet/leaflet.js' | url }}" defer></script>
<script src="{{ '/assets/scripts/main.js' | url }}" defer></script>