---
layout: storymap
css: |
  #storymap {
  }
---
<main class="flex flex-col items-center h-screen">
  <header class="flex flex-col justify-center w-full overflow-y-hidden xl:w-2/5 lg:items-start">
    <h1 class="my-4 text-3xl font-bold leading-tight text-center text-blue-500 md:text-5xl md:text-left">{{ metadata.title }}</h1>
    <p class="mb-6 text-base leading-normal text-center md:text-2xl md:text-left">{{ metadata.description }}</p>
  </header>
  <div id="storymap"></div>
</main>

<script>
  const storymap_data = {{ collections.storymapPathSorted | collectionToStoryMapData | safe }};
//  const storymap_data = '/demo.json';
console.log(storymap_data);

  // certain settings must be passed within a separate options object
  var storymap_options = {};

  var storymap = new KLStoryMap.StoryMap('storymap', storymap_data, storymap_options);
  window.onresize = function(event) {
      storymap.updateDisplay(); // this isn't automatic
  }
</script>